<div style="background-color: #F6A6A6;">
  <div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
      In case of any issue, send an email to customerservice@shieldhands.com
    </div>
  </div>
<div>