.hover-q:hover .overlay {
  opacity: 0.6;
}
.overlay {
  position: absolute;
  background: white;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 10px 46px;
  text-align: center;
  top: 60%;
}
p#heading{
font-size: 212% ; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color:black;
}

 
.zoom img { 
  width: 100%; 
  transition: 0.3s all ease-in-out; 
} 
 
.zoom:hover img { 
  transform: scale(1.05); 
} 

@keyframes heartFadeInOut
{
 0% {transform:scale(1);}
 25% {transform:scale(.97);}
 35% {transform:scale(.9);}
 45% {transform:scale(1.1);}
 75% {transform:scale(1.03);}
 100% {transform:scale(1);}
}

.fa-heart-o:hover {
  color:currentColor
  }
  
.fa-heart-o:hover
{
  animation:heartFadeInOut 1s infinite;
}
.fa-heart-o{
  color:grey; 
  fill:grey;
  cursor:pointer;
  -webkit-text-stroke: 0.2px;
  font-size:12px;
}

.carousel-indicators {
  margin: 0px;
  height: 0px;
  font-size: 10px;
}

  .carousel-indicators ol {
      width: 100%;
  }


  .carousel-indicators li{
      border-radius: 50%;
      background: black;
  }
  