<div class="container d-none d-sm-block d-md-block d-lg-block d-xl-block">
    <div class="row align-center" id="slider">
            <div id="myCarousel" class="carousel slide">
                <div class="row"><div class="col-sm-4">
                    <ul class="carousel-indicators mx-auto px-2 row">
                        <li class="list-inline-item active">
                            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                <img src="{{products.image_path[0]}}" style="height: 80px;width: 80px;" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                <img src="{{products.image_path[1]}}" style="height: 80px;width: 80px;" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                <img src="{{products.image_path[2]}}" style="height: 80px;width: 80px;" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                                <img src="{{products.image_path[3]}}" style="height: 80px;width: 80px;" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                                <img src="{{products.image_path[4]}}" style="height: 80px;width: 80px;" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- main slider carousel items -->
                <div class="col-sm-8">
                <div class="carousel-inner">
                    <div class="active carousel-item" data-slide-number="0">
                        <img src="{{products.image_path[0]}}" style="height: 535px;width: 535px;" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="1">
                        <img src="{{products.image_path[1]}}" style="height: 535px;width: 535px;" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="2">
                        <img src="{{products.image_path[2]}}" style="height: 535px;width: 535px;" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="3">
                        <img src="{{products.image_path[3]}}" style="height: 535px;width: 535px;" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="4">
                        <img src="{{products.image_path[4]}}" style="height: 535px;width: 535px;" class="img-fluid">
                    </div>

                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                </div>
            </div>
                <!-- main slider carousel nav controls -->
            </div>
        </div>
    <!--/main slider carousel-->
</div>

<div class="container d-block d-sm-none">
    <div class="row container">
        <div id="carouselSliderIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselSliderIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselSliderIndicators" data-slide-to="1"></li>
              <li data-target="#carouselSliderIndicators" data-slide-to="2"></li>
              <li data-target="#carouselSliderIndicators" data-slide-to="3"></li>
              <li data-target="#carouselSliderIndicators" data-slide-to="4"></li>
              <li data-target="#carouselSliderIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{products.image_path[0]}}" style="height: 535px;width: 535px;" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="{{products.image_path[1]}}" style="height: 535px;width: 535px;" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="{{products.image_path[2]}}" style="height: 535px;width: 535px;" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="{{products.image_path[3]}}" style="height: 535px;width: 535px;" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="{{products.image_path[4]}}" style="height: 535px;width: 535px;" class="img-fluid">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselSliderIndicators" role="button" data-slide="prev">
                <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselSliderIndicators" role="button" data-slide="next">
                  <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
    </div>
</div>