<div class="container">
    <h1>About Us</h1>
    <h3>AP6 - Setup Angular Application</h3>
    <div class="d-flex w-100 justify-content-between">
        <ul class="list-group">
            <li class="list-item">
                Setup multiple routes in the application
            </li>
            <li class="list-item">
                Integrate Bootstrap / Material UI Library
            </li>
            <li class="list-item">
                <a href="datatables.net">Integrate jQuery datatables with dummy data</a>
            </li>
            <li class="list-item">
                Setup code in Git Repository
            </li>
        </ul>
    </div>
</div>