<div class="container">
    <p>
        <b>
            Related Product - 
        </b>
    </p>
</div>
<div class="container mt-3 d-none d-sm-block d-md-block d-lg-block d-xl-block">
<div class="row">

    <div class="col-sm-3 hover-q zoom">
        <div class="row"
        (mouseover)="imgpath = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada-side-view.png'"
        (mouseleave)="imgpath = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada.png'">
        <img src={{imgpath}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" style="max-height: 300px;max-width: 300px;">
            <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
        </div>
        <div class="row">
            <div class="col-md-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                <p> Blue Sanitizer Bracelet on Amazon</p>
              </div>
              <div class="col-md-2">
                <i class="fa fa-heart-o"></i>
              </div>
        </div>
    </div>
    <div class="col-sm-3 hover-q zoom">
        <div class="row"
        (mouseover)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada-side-view.png'"
        (mouseleave)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada.png'">
        <img src={{imgpath2}}  data-toggle="tooltip" title=" Grey Sanitizer Bracelet on Amazon" style="max-height: 300px;max-width: 300px;">
            <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
        </div>
        <div class="row">
            <div class="col-md-10"  data-toggle="tooltip" title=" Grey Sanitizer Bracelet on Amazon">
                <p> Grey Sanitizer Bracelet on Amazon</p>
              </div>
              <div class="col-md-2">
                <i class="fa fa-heart-o"></i>
              </div>
        </div>
    </div> 
    <div class="col-sm-3 hover-q zoom">
        <div class="row"
        (mouseover)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada-side-view.png'"
        (mouseleave)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada.png'">
        <img src={{imgpath3}}  data-toggle="tooltip" title=" Peach Sanitizer Bracelet on Amazon" style="max-height: 300px;max-width: 300px;">
            <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
        </div>
        <div class="row">
            <div class="col-md-10"  data-toggle="tooltip" title=" Peach Sanitizer Bracelet on Amazon">
                <p> Peach Sanitizer Bracelet on Amazon</p>
            </div>
            <div class="col-md-2">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-3 hover-q zoom">
        <div class="row"
        (mouseover)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada-side-view.png'"
        (mouseleave)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada.png'">
        <img src={{imgpath4}}   data-toggle="tooltip" title=" Yellow Sanitizer Bracelet on Amazon"style="max-height: 300px;max-width: 300px;">
            <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
        </div>
        <div class="row">
            <div class="col-md-10"  data-toggle="tooltip" title=" Yellow Sanitizer Bracelet on Amazon">
                <p> Yellow Sanitizer Bracelet on Amazon</p>
              </div>
              <div class="col-md-2">
                <i class="fa fa-heart-o"></i>
              </div>
        </div>
    </div>
    <app-quickview></app-quickview> 
</div>
</div>

<div class="container d-block d-sm-none">
    <div class="row container">
        <div id="carouselRelatedIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="color: black;">
              <li data-target="#carouselRelatedIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselRelatedIndicators" data-slide-to="1"></li>
              <li data-target="#carouselRelatedIndicators" data-slide-to="2"></li>
              <li data-target="#carouselRelatedIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row zoom"
                (mouseover)="imgpath = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada-side-view.png'"
                (mouseleave)="imgpath = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada.png'">
                <img src={{imgpath}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="First slide">
                </div>
                <div class="row container zoom">
                    <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                        <p> Blue Sanitizer Bracelet on Amazon</p>
                      </div>
                      <div class="col-2">
                        <i class="fa fa-heart-o"></i>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row zoom"
                (mouseover)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada-side-view.png'"
                (mouseleave)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada.png'">
                <img src={{imgpath2}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="First slide">
                </div>
                <div class="row">
                    <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                        <p> Blue Sanitizer Bracelet on Amazon</p>
                      </div>
                      <div class="col-2">
                        <i class="fa fa-heart-o"></i>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row zoom"
                (mouseover)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada-side-view.png'"
                (mouseleave)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada.png'">
                <img src={{imgpath3}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="First slide">
                </div>
                <div class="row">
                    <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                        <p> Blue Sanitizer Bracelet on Amazon</p>
                      </div>
                      <div class="col-2">
                        <i class="fa fa-heart-o"></i>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row zoom"
                (mouseover)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada-side-view.png'"
                (mouseleave)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada.png'">
                <img src={{imgpath}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="First slide">
                </div>
                <div class="row">
                    <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                        <p> Blue Sanitizer Bracelet on Amazon</p>
                      </div>
                      <div class="col-2">
                        <i class="fa fa-heart-o"></i>
                      </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRelatedIndicators" role="button" data-slide="prev">
              <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRelatedIndicators" role="button" data-slide="next">
                <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
