<br><div class="container" id="accordion" >
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target="#description" href="#description">Description</a>
        </li>
        <li class="nav-item">
        <a class="collapsed nav-link" data-toggle="collapse" data-target="#addition_information" href="#addition_information">Addition Information</a>
        </li>
        <li class="nav-item">
        <a class="collapsed nav-link" data-toggle="collapse" data-target="#reviews" href="#reviews">Reviews<sup style="color: rgb(145, 128, 32);font-size: 16px;"> 0</sup></a>
        </li>
    </ul>
    <div class="container" style="opacity: 0.6;">
        <div id="description" class="collapse show" data-parent="#accordion">
            <b>{{products.info[2].info_head}}</b><br><br>
               <div [innerHtml]="products.info[2].info_body"></div>
        </div><br>
        <div id="addition_information" class="collapse" data-parent="#accordion">
            <div class="col-sm-6">   
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">{{products.attributes[2].attribute}}</th>
                            <td>{{products.attributes[2].attr_value}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{products.attributes[3].attribute}}</th>
                            <td>{{products.attributes[3].attr_value}}</td>
                        </tr>
                    </tbody>
                </table><br>
            </div>
        </div>
        <div id="reviews" class="collapse" data-parent="#accordion">
            <div>
                <p>
                    There are no reviews yet.
                </p>
                <button type="button" class="btn btn-outline-dark">Add first review</button>
            </div><br>
        </div>
    </div>
</div>