<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<div class="container">
<h1>User List</h1>
<table #dataTable class="display" style="width:100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Org Nickname</th>
        <th>User Id</th>
        <th>User Username</th>
        <th>User Password</th>
        <th>User status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
        <td>{{user.id}}</td>
        <td>{{user.org_nickname}}</td>
        <td>{{user.user_id}}</td>
        <td>{{user.user_username}}</td>
        <td>{{user.user_password}}</td>
        <td>{{user.user_status}}</td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <th>Id</th>
          <th>Org Nickname</th>
          <th>User Id</th>
          <th>User Username</th>
          <th>User Password</th>
          <th>User statsus</th>
        </tr>
    </tfoot>
  </table>
</div>