.breadcrumb{
    background-color: white !important;
}

.breadcrumb > .active a{
color: #333333; 
}

ol.breadcrumb li a {
    color: gray;
}

.hover-q:hover .overlay {
    opacity: 0.6;
}

.overlay {
    position: absolute;
    background: white;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 10px 46px;
    text-align: center;
    top: 60%;
}

@keyframes heartFadeInOut
{
   0% {transform:scale(1);}
   25% {transform:scale(.97);}
   35% {transform:scale(.9);}
   45% {transform:scale(1.1);}
   75% {transform:scale(1.03);}
   100% {transform:scale(1);}
}

.fa-heart-o:hover {
    color:currentColor
}
    
.fa-heart-o:hover
{
    animation:heartFadeInOut 1s infinite;
}

/*Image swap*/

.container_image{
    position: relative;
}

.image2{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; 
  height: 300px;
  width: 300px;
}

.overlay_image {
    opacity: 0;
    transition: .1s ease;
  }
  
  .container_image:hover .overlay_image {
    opacity: 1;
  }
  .container_image:hover .container_image {
    opacity: 0;
  }

  .image_de{
      height: 300px;
      width: 300px;
  }


  /*Zoom Image*/

  #zoom_img {
    display: inline-block;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
  }
  #zoom_img img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
  }

  #zoom_img:hover img {
    transform: scale(1.05);
    transform-origin: 50% 50%;
  }