<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="nav-link nav-item">AP 6</a>
        <ul class="nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="datagrid">Data Grid</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="org">Org List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="user">User List</a></li>
        </ul>
    </div>
</nav>