<div class="modal fade" id="searchbutton" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 99%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
                </div>
                <div *ngFor="let user of products | filter:filterTerm">
                    {{user.product_name}}
                </div>
            </div>
        </div>
    </div>
</div>