<div class="container mt-3">
    <div class="row">
        <div class="col-sm-8 col-auto">
            <app-product-image></app-product-image>
        </div>
        <div class="col-sm-4 col-auto mt-4" style="font-weight: 400;font-size: 14px;">
            <div class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
            <nav aria-label="breadcrumb"> 
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Amazon-USA</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gray Sanitizer Bracelet on Amazon</li>
                </ol>
            </nav></div>
            <div class="row col-auto">
                <h3 style="font-weight: 400;">
                    {{products.product_name}}
                </h3>
            </div><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control">
                          <option>USA</option>
                          <option>CAD</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row col-auto" style="opacity: 0.6;">
                <p><b>{{products.info[0].info_head}}</b></p>
            </div>
            <div [innerHtml]="products.info[0].info_body" class="row col-auto" style="opacity: 0.6;">              
            </div><br>
            <div class="row col-auto" style="opacity: 0.6;">
                <p><b>How to Use</b></p>
            </div><br>
            <div [innerHtml]="products.info[1].info_body" class="row col-auto" style="opacity: 0.6;">
            </div><br>
            <div class="row col-auto">
                <button type="button" class="btn btn-dark btn-block">Buy Product</button>
            </div><br>
            <div class="row col-auto">
                <button type="button" class="btn btn-light btn-block"><i class='far fa-heart fa-fw'></i> Browse Wishlist</button>
            </div><br>
            <div class="row col-auto">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Category:</td>
                                <td><div style="color: black;">{{products.category}}</div></td>
                            </tr>
                            <tr>
                                <td>Tag:</td>
                                <td><div style="color: black;">{{products.attributes[0].attr_value}}</div></td>
                            </tr>
                        </tbody>
                    </table>
            </div><br>
            <div class="row col-auto">
                <p>
                    Share:<b>   <i class="fa fa-facebook fa-fw" style="font-size:20px"></i>
                                <i class='fa fa-twitter fa-fw' style="font-size:20px"></i>
                                <i class='fa fa-pinterest fa-fw' style="font-size:20px"></i>
                </b></p>
            </div>
            
        </div>
    </div>
</div>