.breadcrumb{
    background-color: white !important;
}

  .breadcrumb > .active a{
    color: #333333; 
    }

    ol.breadcrumb li a {
        color: gray;
      }

    table td {
      color: gray;
    }