<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<div class="container">
<h1>Org List</h1>
<table #dataTable class="display" style="width:100%">
    <thead>
    <tr>
      <th>Id</th>
      <th>Org Name</th>
      <th>Org Nickname</th>
    </tr>
    </thead>
    <tbody>
		<tr *ngFor="let org of data">
			<td>{{org.id}}</td>
			<td>{{org.org_name}}</td>
			<td>{{org.org_nickname}}</td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Org Name</th>
            <th>Org Nickname</th>
          </tr>
    </tfoot>
  </table>
</div>